// colors 

$primary : #CE000B;
$secondary : #1D1D1D;
$tertiary : #F5F5F5;
$border_color: #E1E2E2;
$body_text: #262626;
$body-light-text: #4D4D4D;
$btn_color : #A50009;
$text-light : #7E7E7E;
$light-grey :#EFECEC;
$neutral_grey: #606060;
$neutral_light_grey: #9B9B9B;
$neutral_pink: #EDE0E0;
$light_pink: #F8F8F8;
$disabled_color: #D2B1B6;

$bg-gr-primary: linear-gradient(180deg, #A50009 0%, #7C0007 100%);