@import "header", "color", "mixing", "footer";

.border {
    border-width: 0.05rem;
}

.border-2 {
    border-width: 0.2rem;
}

.border-radius-12 {
    border-radius: 0.8rem;
}

.gap-x-24 {
    --bs-gutter-x: 2.4rem;
}

.gap-y-24 {
    --bs-gutter-y: 2.4rem;
}

.box-shadow {
    box-shadow: 0px 9px 8.5px rgba(94, 94, 94, 0.15);
}

.row {
    @extend .gap-x-24;
}

.container {
    @media (min-width: 1400px) {
        max-width: 1360px;
    }
}

.img-fluid {
    width: 100%;
}

.btn {
    @include btn();
}

.bg-tertiary {
    background-color: $tertiary !important;
}

.secondary_btn {
    @include btn();
    background-color: #fff;
    border: 0.1rem solid $primary;
    color: $primary;

    &:hover {
        background-color: $primary;
        color: #fff;
    }
}

.white_border_btn {
    @include btn();
    background-color: transparent;
    border: 0.1rem solid #fff;
    color: #fff;

    &:hover {
        background-color: #fff;
        border: 0.1rem solid #fff;
        color: $primary;

    }
}

ul li {
    margin-block: 0 0.8rem;
}

.check_list ul {
    padding: 0;

    li {
        position: relative;
        padding-inline-start: 2.8rem;
        list-style: none;


        &::before {
            content: '\f058';
            display: inline-block;
            position: absolute;
            left: 0;
            font-family: $fontawesome;

        }
    }
}

.container {
    padding-inline: 1.6rem;
}

input,
select,
textarea {
    font-size: 1.6rem;
    border: 1px solid $neutral_light_grey;
    padding: 1.2rem .8rem;
    display: block;
    appearance: none;
    width: 100%;
    background: #fff;
    color: $body_text;
    @include body_medium();

    &:focus {
        box-shadow: none;
        outline: none;
        border-color: $primary;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.form-group:not(.search_form .form-group) {
    margin-bottom: 2.4rem;
}

form .form-label {
    font-size: 1.6rem;
    color: $body-light-text;
    @include body_semi_bold();
    margin-bottom: .8rem;

    span {
        color: $primary;
    }
}

// form input[type="submit"] {
//     @extend primary_btn;
// }

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    @include body_regular();
    font-size: 1.8rem;
    line-height: 1.2;
    color: $body_text;
    @include transition();
    overflow-x: hidden;

    @media(max-width: 767px) {
        font-size: 1.6rem;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    line-height: 1.03;
    color: $secondary;
    margin-block: 0 1.6rem;
    @include header-bold();
}

h1,
.h1 {
    font-size: clamp(5rem, 5vw, 7.7rem);
}

h2,
.h2 {
    font-size: clamp(3.5rem, 3vw, 5.2rem);
    margin-block: 0 2.4rem;
}

h3,
.h3 {
    font-size: clamp(2.2rem, 3vw, 4.4rem);
    @include header-semibold();
    margin-block: 0 2.4rem;
}

h4,
.h4 {
    font-size: 2.4rem;
}

h5,
.h5 {
    font-size: clamp(2rem, 3vw, 3rem);
}

h6,
.h6 {
    font-size: 2.2rem;
}

p {
    margin-block: 0 2.4rem;
}

a {
    text-decoration: none;
}

.font_semibold {
    font-weight: 600 !important;
}

section {
    position: relative;
}

.object-fit {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

a.default {
    color: $primary;
    font-size: 1.6rem;
    display: inline-flex;
    gap: 1.2rem;
    @include body_semi_bold();
}

.mt-40 {
    margin-top: 4rem;
}

.mt-24 {
    margin-top: 2.4rem;
}

.mb-24 {
    margin-bottom: 2.4rem;
}

.text_primary {
    color: $primary !important;
}

.bg_primary {
    background-color: $primary;
}


// home page css

.primary_banner {
    padding-block: 9.6rem 4rem;
    background-color: $primary;

    @media(max-width: 767px) {
        padding-block: 4rem;
    }

    .search_form {
        margin-block: 4rem 5.7rem;
        padding: 1.6rem 2.4rem;
        border: 0.1rem solid #d2b1b6;
        border-radius: 8rem;
        max-width: 66.8rem;
        width: 100%;
        display: inline-block;

        .form-group {
            .form-control {
                border-radius: 0;
                background-color: transparent;
                font-size: clamp(1.6rem, 2vw, 2.5rem);
                line-height: 1;
                @include header-medium();

                &::placeholder {
                    color: $body_text;
                }

                &:focus {
                    box-shadow: none;
                }
            }

            button {
                background-color: transparent;
                border: none;
                box-shadow: none;

                i {
                    color: $primary;
                    font-size: 2.5rem;
                    @include transition();
                }

                &:hover {
                    i {
                        color: $secondary;
                    }

                    img {
                        width: 3.5rem;
                        max-width: 3.5rem;
                    }
                }
            }
        }
    }

    .product-slider {
        padding-inline: 2.4rem;

        .swiper-slide {
            figure {
                overflow: hidden;
                height: 100%;
                height: 26.6rem;
                border: 0.1rem solid $border_color;
                border-radius: 0.8rem;
                background-color: #fff;
                display: grid;
                place-items: center;

                img {
                    mix-blend-mode: multiply;
                    object-fit: contain;
                    aspect-ratio: 5 /3;
                }
            }
        }
    }
}

.business_partner {
    background: linear-gradient(rgba(165, 0, 9, 1), rgba(124, 0, 7, 1));
    padding-block: clamp(4rem, 5vw, 6rem, );



    .img_row {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .img_card {
            width: 100%;
            max-width: 32.1rem;



            img {
                height: 100%;
                max-height: 22rem;
                object-fit: cover;
                border-radius: 0.8rem;
                box-shadow: 0px 9px 6px rgba(94, 94, 94, 0.15);
            }

            .img_title {
                color: #fff;
                font-size: 1.6rem;
                @include body_medium();
                text-align: end;
                margin-top: 1.8rem;

                span {
                    @include body_bold();
                }

            }

            @media(max-width: 767px) {
                &:not(last-child) {
                    margin-bottom: 2rem;
                }

                .img_title {
                    text-align: center;
                }
            }
        }
    }

    @media(min-width: 768px) {
        .img_row1 {
            margin-bottom: -3rem;
        }

        .img_row2 {
            margin-top: -3rem;
        }
    }


}

.offer_product {
    padding-block: 3rem;

    .offer_product_slider {
        .card {
            border-radius: 1.2rem;
            box-shadow: 0px 9px 8.5px rgba(94, 94, 94, 0.15);
            border: none;
            padding: 2.4rem;
            position: relative;

            .badge {
                background-color: #EFECEC;
                position: absolute;
                top: 2.4rem;
                left: -1.6rem;
                color: #4D4D4D;
                @include header-medium();
                font-size: clamp(1.8rem, 1.5vw, 2.4rem);
                padding: 1.2rem 2.4rem;
                @extend .border-radius-12;
            }

            .in-offer {
                background-color: $primary;
                color: #fff;
            }

            .product-img img {

                max-width: 38.9rem;
            }

            .card-body {
                padding-inline: 0;
            }

            .stock-details {
                span {
                    display: none;
                }

                span.in-stock {
                    display: inline-flex;
                }

                .stock-status {
                    padding: 0.4rem 1.2rem;
                    background-color: #02751C;
                    text-transform: uppercase;
                    border-radius: 3.5rem;
                    color: #fff;
                    @include body_bold();
                    font-size: 1.2rem;
                    letter-spacing: 0.12rem;

                }
            }

            .product-title {
                @include header-medium();
                margin-block: 1.6rem;
            }

            .sku {
                span {
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                    display: inline-block;

                    &:first-child {
                        font-size: 1.4rem;
                        color: $text-light;
                        @include header-bold();
                    }

                    &:last-child {
                        @include header-bold();
                    }
                }
            }

            .price {
                position: relative;
                overflow: hidden;
                display: inline-block;

                span {
                    color: $primary;
                    font-size: clamp(2.5rem, 2vw, 3.6rem);
                    @include header-semibold();
                    display: none;

                }

                .regular-price {
                    &::after {
                        content: "";
                        width: 100%;
                        height: 0.2rem;
                        background-color: #3A3A3A;
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%) rotate(-10deg);

                    }
                }
            }
        }

        .swiper-slide {
            scale: 0.89;
            transition: all .3s ease-in-out;
        }

        .swiper-slide:not(.swiper-slide-active) {
            scale: 0.75;
            opacity: 0.7;
        }
    }
}

.getting_parts {
    padding-bottom: 4rem;

    .parts_container {
        @extend .box-shadow;
        border-radius: 1.2rem;
        overflow: hidden;
        background-color: #fff;
    }

    .parts_col {
        padding: 6.4rem 4rem;

        @media(max-width: 767px) {
            padding: 3.5rem 2rem;
        }
    }

    .parts_list {
        display: inline-grid;
        gap: 3.2rem;
        margin-top: 1.6rem;

        .about_parts {
            display: grid;
            grid-template-columns: max-content auto;
            gap: 1.6rem;

            .img {
                width: 8rem;
                height: 8rem;
                background: $secondary;
                border-radius: 50%;
                display: grid;
                place-items: center;

                @media(max-width: 767px) {
                    width: 7.4rem;
                    height: 7.4rem;

                    img {
                        max-width: 3.2rem;
                    }
                }
            }
        }
    }

    .text-content {
        p {
            margin: 0;
            color: $body-light-text;
            line-height: 1.5;
            @include body_medium();
        }
    }

    .browse_product {
        margin-top: 4rem;
    }
}

.whats_new {
    padding-block: 8rem 3.2rem;
}

.post_card {
    figure {
        margin-block-end: 0.8rem;
        border-radius: 0.8rem;
        overflow: hidden;
        height: 24.6rem;
    }

    .card_body {
        .small {
            padding-block: 0.8rem;
            display: inline-block;
            color: $text-light;
            @include body_bold();
            font-size: 1.6rem;
        }

        .post_title {
            @include header-medium();
            line-height: 1.1;
        }
    }
}

.find_parts {
    padding: 4.3rem 0 0 0;

    .row {
        --bs-gutter-x: 1.2rem;
    }

    p {
        max-width: 49rem;
    }
}



.article_posts {
    padding-block: 3.2rem 8rem;

    .news_artical_card {
        margin-bottom: 0;
    }
}

.valuable_info {
    padding-block: 8rem;

    .resources_card {
        figure {
            height: auto;
        }

        .post_title {
            font-weight: 600;
        }
    }

    .resource_details {
        background-color: #F5F5F5;
        border-radius: 1.2rem;
        padding: 2.4rem;
        margin-bottom: 2.4rem;

        @media(max-width: 767px) {
            padding: 1.3rem;
        }

        h4 {
            @include header-semibold();
        }

        .text_logo {
            @include body_semi_bold();
            display: flex;
            margin-bottom: 1.6rem;
            line-height: 1.5;
            align-items: baseline;
            gap: 0.8rem;

            @media(max-width: 767px) {
                a.default {
                    width: 100%;
                    justify-content: center;
                }
            }
        }

        i {
            color: $primary;
            font-size: 2rem;
        }
    }

    .resource_img {
        height: 100%;
        position: relative;

        .overlay_date {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #fff;
            padding: 0.4rem 0.8rem;

            span {
                display: block;
                text-align: center;

                &:first-child {
                    font-weight: 700;
                    font-size: 1.4rem;
                    color: $text-light;
                }

                &:last-child {
                    color: $primary;
                    @include header-semibold();
                    font-size: 2.4rem;
                }
            }
        }
    }
}

.grid_post {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.4rem;

    @media(min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

// about us page css
.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 37%;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0006;
}

.white-overlay {
    background: rgba(245, 245, 245, 0.98);
}

.about_banner {
    padding: 13.6rem 0 8rem;

    p {
        color: $tertiary;
    }
}

.hero_wapper {
    padding: 6rem 0 2rem;

    p {
        font-size: 1.6rem;
        color: $body-light-text;
        @include body_medium();
    }

    img {
        object-fit: cover;
        max-height: 28.3rem;
        height: 100%;
    }
}

.btwob_section {
    padding: 8rem 0 4rem;

    p {
        font-size: 1.6rem;
        color: $body-light-text;
        @include body_medium();
        max-width: 67rem;
        margin: 0 auto 2.4rem;
    }

    .bcard {
        display: grid;
        gap: 2.4rem;
        grid-template-columns: repeat(5, 1fr);
        margin-top: 9.2rem;

        .card-loop {
            position: relative;

            .details {
                position: absolute;
                top: 50%;
                z-index: 1;
                left: 50%;
                text-align: center;
                transform: translate(-50%, -50%);
                width: 100%;
                padding: 2.4rem;

                h5 {
                    color: #fff;
                    font-size: 2.4rem;
                    @include header-semibold();
                    margin-bottom: 0;
                    line-height: 1.1;
                    @include transition();

                    &:hover {
                        color: $primary;
                    }
                }
            }

            figure {
                position: relative;

                img {
                    max-height: 20.7rem;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.fa-sharp,
.fasl,
.fasr,
.fass,
.fast {
    font-family: "Font Awesome 6 Pro" !important;
}

.totaline_table {
    padding: 8rem 0 8rem;

    p {
        color: $body-text;
        @include body_regular();
        line-height: 1.5;
    }

    .custom-table {
        padding-top: 2.6rem;

        .table> :not(caption)>*>* {
            padding: 1.6rem 0rem 1.9rem;
        }

        h4 {
            font-size: 3rem;
            @include header-medium();
        }

        .table-in {
            margin-bottom: 1.1rem;

            i {
                color: $primary;
            }

            .details {
                font-size: 1.6rem;
                color: $body-light-text;
                @include body_medium();

                a {
                    color: $body-light-text;
                    @include transition();

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }

        .directions a {
            color: $primary;
            @include body_semi_bold();
            display: flex;
            gap: 1.2rem;
            justify-content: end;
            align-items: center;
            @include transition();

            &:hover {
                color: $secondary;
            }
        }
    }
}

.questions_section {
    padding: 11.2rem 0 12.2rem;

    h3 {
        font-weight: 600;
        max-width: 43rem;
        margin: 0 auto 2.4rem;
    }

    p {
        color: $body-text;
        @include body_regular();
        line-height: 1.5;
        font-size: 1.8rem;
    }

    .bg-img {
        object-position: 0 52%;
    }
}





@media(max-width:1399px) {





    .btwob_section h3 {
        max-width: 66rem;
        margin-inline: auto;
    }

    .questions_section {

        h3 {
            max-width: 39rem;
        }
    }

}


@media screen and (max-width: 1199px) {

    .bcard {
        display: grid;
        margin-top: 5.2rem;
    }

    .btwob_section .bcard .card-loop .details {
        padding: 1.4rem;

        h5 {
            color: #fff;
            font-size: 1.4rem;
            margin-bottom: 0;
        }

    }

    .totaline_table {
        padding: 6rem 0 5rem;

        .custom-table {

            h4 {
                font-size: 2.1rem;
            }

            .table-in .details {
                font-size: 1.3rem;
            }
        }

        a {
            font-size: 1.6rem;
        }
    }

    .questions_section {
        padding: 9rem 0;

        h3 {
            max-width: 34rem;
        }
    }
}

@media (max-width: 991px) {

    .about_banner {
        padding: 9rem 0 4rem;

        h2 {
            font-size: clamp(3rem, 3.5vw, 5.2rem);
        }

        p {
            font-size: 1.6rem;
        }
    }

    .hero_wapper {

        img {
            max-height: 15.3rem;
        }
    }



    .btwob_section {
        padding: 4rem 0 1rem;

        .bcard {
            margin-top: 4.2rem;
            gap: 1.5rem;

            .details {
                padding: 1.1rem;

                .details h5 {
                    font-size: 1.3rem;
                    line-height: 1.3;
                }
            }

        }

    }



    .questions_section {
        padding: 8rem 0;

        h3 {
            max-width: 33rem;
        }
    }
}

@media screen and (max-width: 768px) {

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        margin-bottom: 1.6rem;
        @include header-semibold();
    }

    p {
        margin-block: 0 1.6rem;
        line-height: 1.5;
    }


    .gap-x-24,
    .row {
        --bs-gutter-x: 1.6rem;
    }




    .about_banner {
        padding: 14.2rem 0 1.6rem;

        h1 {
            margin-block: 0 2.4rem;
            max-width: 30rem;
            font-size: 3.5rem;
        }

        p {
            font-size: 1.6rem;
            max-width: 30rem;
            line-height: 1.5;
        }

        .bg-img {
            object-position: -12rem 0;
        }
    }

    .hero_wapper {
        padding: 4rem 0 0 0;

        img {
            max-height: 12.51rem;
        }

        h3 {
            margin: 2.4rem 0;
        }
    }

    .btwob_section {
        padding: 4rem 0 2.4erm;

        h3 {
            font-size: 3.3rem;
        }

        p {
            margin-bottom: 2.4rem;
        }

        .btwob-btn {
            margin-top: 0;

            .btn.white_border_btn {
                width: 100%;
                text-align: center;
                justify-content: center;
            }
        }

        .bcard {
            margin-top: 2.4rem;
            gap: 1.6rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 0;

            .card-loop {
                position: relative;
                width: 47%;

                .details {
                    font-size: 1.6rem;
                    font-weight: 500;
                }
            }

        }
    }

    .totaline_table {
        padding: 4rem 0 2rem;

        .custom-table .table-in {
            margin-bottom: 1rem;

            .details {
                font-size: 1.6rem;
            }
        }

        h2 {
            font-size: 4.2rem;
            font-weight: 700;
        }

        tr {
            display: flex;
            flex-direction: column;

            td {
                width: 100%;
                border: none;

                &:last-child {
                    border-bottom: 1px solid #E1E2E2;
                    margin-bottom: 1.6rem;
                    padding-bottom: 1.6rem !important;
                }
            }

        }

        .table> :not(caption)>*>* {
            padding: 0.2rem 0rem .5rem !important;
        }

        .custom-table h4,
        .custom-table .h4 {
            font-size: 2.2rem;
            margin-bottom: 0;
        }

        .totaline_table .custom-table .table-in .details {
            font-size: 1.2rem;
            color: #4F5B66;
        }

        .directions {
            text-align: center !important;

            a {
                justify-content: center !important;
                font-size: 1.8rem;
            }
        }
    }

    .questions_section {
        padding: 22.6rem 0 4rem;

        p {
            margin-bottom: 2.4rem;
        }
    }

    .btn {
        width: 100%;
        justify-content: center;
    }
}



// news page css
.height-gap {
    padding: 8rem 0;
    position: relative;
}

.news_banner {
    position: relative;

    h6 {
        font-size: 1.4rem;
        margin-bottom: 2.4rem;
        color: $text-light;
        @include body_bold();
    }

    p {
        @include body_medium();
    }

    img {
        max-height: 37.6rem;
        object-fit: cover;
    }

}

.read-more-btn {
    font-weight: 600;
    display: flex;
    gap: 1.2rem;
    align-items: center;
    color: $primary;
    @include transition();

    &:hover {
        color: $secondary;
    }
}


// checkbox 
.form-check-input {
    border-color: #B9B9B9;
    height: 1.6rem;
    width: 1.6rem;
    padding: 0px;
    border-radius: 2px !important;

    &:focus {
        box-shadow: none;
        border-color: $primary;

    }
}

.form-check-input:checked {
    background-color: $primary;
    border-color: $primary;
}

.select {
    position: relative;

    &:after {
        content: '\f107';
        font-family: "Font Awesome 6 Pro";
        display: inline-block;
        color: $primary;
        top: 50%;
        right: 1rem;
        position: absolute;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .form-select {
        padding: 1.2rem 2.5rem 1.2rem 0.8rem;
        border-color: $primary;
        border-radius: 0;
        font-size: 1.6rem;
        color: $body_text;
        position: relative;
        background-image: none !important;


        &:focus {
            border-color: $primary;
            outline: 0;
            box-shadow: none;
        }
    }
}



// pagination css
.totaline-pagination {
    text-align: center;

    li {
        margin-bottom: 0;
        display: flex;

        a.active {
            background: $secondary;
            color: #fff;
        }

        a {
            padding: .6rem 1rem;
            font-size: 12px;
            font-weight: 700;
            border-radius: 4px;
            @include transition();
            color: $body_text;

            &:hover {
                background: $secondary;
                color: #fff;
            }

            i {
                color: $primary;
                font-size: 1.8rem;
            }
        }
    }
}



.soft-filter {
    max-width: 32.2rem;
    margin: auto 0 0 auto;
    margin-top: -1.2rem;
}

.news_artical_card {

    margin-bottom: 5rem;



    figure a {
        height: 24.6rem;
        display: block;
    }

    img {

        height: 100%;
        object-fit: cover;
    }

    h6 {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 1.6rem 0 .8rem;
        background: $primary;
        color: #fff;
        padding: .2rem .8rem;
        border-radius: 4px;
        display: inline-block;
        font-weight: 400;
    }

    h5 a {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.1;
        color: $body_text;
        @include transition();

        &:hover {
            color: $primary;
        }
    }

    .mt-56 {
        margin-top: 0;
    }
}

.all_articles {

    .item {
        display: none;
    }

    .filter-set {
        padding: 3.2rem 0;
        background-color: $tertiary;

        h4 {
            margin-bottom: 1.6rem
        }

        p {
            font-size: 1.6rem;
            color: $body-light-text;
            margin-bottom: 1.6rem;
        }
    }


    .filter-show {
        padding: 5rem 0 8rem;



        // .btwob_section {
        //     padding: 4rem 0;

        //     .btwob-btn {
        //         margin-top: 0;

        //         .btn.white_border_btn {
        //             width: 100%;
        //             text-align: center;
        //             justify-content: center;
        //         }
        //     }

        //     .bcard {
        //         margin-top: 1.6rem;
        //         gap: 1.6rem;
        //         display: flex;
        //         flex-wrap: wrap;
        //         justify-content: center;
        //         margin-bottom: 0;

        //         .card-loop {
        //             position: relative;
        //             width: 47%;
        //         }

        //     }
        // }

        // .totaline_table {
        //     padding: 4rem 0 1rem;

        //     tr {
        //         display: flex;
        //         flex-direction: column;

        //         td {
        //             width: 100%;
        //             border: none;

        //             &:last-child {
        //                 border-bottom: 1px solid #E1E2E2;
        //                 margin-bottom: 1.6rem;
        //                 padding-bottom: 1.6rem !important;
        //             }
        //         }

        //         h4 {
        //             margin-bottom: 1.2rem;
        //             font-size: 2.278rem;
        //         }

        //         .directions {
        //             text-align: center !important;


        //             a {
        //                 justify-content: center !important;
        //             }
        //         }
        //     }
        // }

        // .primary_btn {
        //     width: 100%;
        //     justify-content: center;
        // }

        // .totaline_table .custom-table .table> :not(caption)>*>* {
        //     padding: 0.6rem 0rem 0rem;
        // }

        // .questions_section {
        //     padding: 4rem 0;

        //     h2 {
        //         font-weight: 600;
        //         margin: 2.4rem auto 2.4rem;
        //     }

        //     .row .col-md-3:last-child {
        //         display: none;
        //     }
        // }

    }

}


@media (max-width: 991px) {
    .height-gap {
        padding: 4rem 0;
    }

    .soft-filter {
        max-width: 27.2rem;
        margin: 2.5rem 0;
    }

    .news_artical_card h5 a {
        font-size: 1.9rem;
    }

    .filters>div {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5rem !important;

        label {
            font-size: 16px;
        }
    }

    .news_artical_card figure a {
        height: 18.6rem;
        display: block;
    }
}


@media (max-width: 767px) {
    .news_banner {
        h6 {
            margin-bottom: 1.6rem;
        }

        .h3 {
            font-size: 3.5rem;
        }

        .banner-btn {
            margin-bottom: 2.45rem;

            .read-more-btn {
                font-size: 1.6rem;
            }
        }
    }

    img {
        max-height: 34.3rem;
    }


    .all_articles .filter-set {
        padding: 2em 0;

        p {
            font-size: 1.6rem;
            color: #4D4D4D;
            margin-bottom: .8rem;
        }

        h4 {
            margin-bottom: 2.4rem;
            font-size: 3.5rem;
        }
    }

    .filters>div {
        grid-template-columns: 1fr;
        gap: .8rem !important;
    }

    .soft-filter {
        max-width: 100%;
        margin: 2.4rem 0;
    }

    .all_articles {
        .filter-show {
            padding: 3.2rem 0 3rem;

            .news_artical_card {
                margin-bottom: 2.4rem;

                figure a {
                    height: 19.3rem;
                    display: block;
                }

                h5 {
                    a {
                        font-size: 2.4rem;
                    }
                }

                h6 {
                    margin: 2.4rem 0 0.95rem;
                }
            }
        }
    }


}


// article details page css
.news-date {
    font-size: 1.4rem;
    color: $text-light;
    @include body_bold();
    margin: 1.6rem 0 .8rem;
    display: block;
}

.article_banner {
    padding: 8rem 0;

    p {
        @include body_medium;
        line-height: 1.5;
    }

    .news-date {
        margin: 0rem 0 2.4rem;
    }

    .social-icon {
        p {
            color: $body-light-text;
            @include body_bold;
            font-size: 1.6rem;
        }

        a {
            font-size: 1.6rem;
            color: $body_text;
            position: relative;
            @include transition();

            &:hover {
                color: $primary;
            }
        }

        .copy-message {
            font-size: 13px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            display: none;
            @include body_medium;

        }
    }

    .main-detail-img {
        padding: 4rem 0;

        img {
            max-height: 63.5rem;
            object-fit: cover;
        }
    }

    .details-sideimg {
        img {
            height: 28.1rem;
            object-fit: cover;
            object-position: right;
        }
    }

    ul {
        max-width: 94%;
        color: $body_text;
        @include body_bold;
        font-size: 1.6rem;
    }

    .Video-box figure img {
        max-height: 50.5rem;
    }

    .play-btns {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }



    .play-btn::before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation: pulsate1 2s;
        animation: pulsate1 2s;
        animation-iteration-count: 1;
        -webkit-animation-direction: forwards;
        animation-direction: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: steps;
        animation-timing-function: steps;
        opacity: 1;
        border-radius: 50%;
        border: 3px solid #fff;
        top: -25%;
        left: -25%;
        background: #fff;
    }

    @-webkit-keyframes pulsate1 {
        0% {
            -webkit-transform: scale(0.6);
            transform: scale(0.6);
            opacity: 1;
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0;
            box-shadow: none;

        }
    }

    @keyframes pulsate1 {
        0% {
            -webkit-transform: scale(0.6);
            transform: scale(0.6);
            opacity: 1;
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
        }

        100% {
            -webkit-transform: scale(1, 1);
            transform: scale(1);
            opacity: 0;
            box-shadow: none;

        }
    }


    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-wrapper {
        padding-bottom: 4rem;
    }

}

.swiper-button-next,
.swiper-button-prev {
    width: 4rem !important;
    height: 4rem !important;
    color: $primary !important;
    border-radius: 50%;
    border: 1px solid $primary;
    @include transition();

    &:hover {
        background: $primary;

        &::after {
            color: #ffff !important;
        }
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1.5rem !important;
    color: $primary;
    /* Ensure the default color is set */
}

.swiper-pagination-bullet-active {
    background-color: $secondary !important;
}


.swiper-pagination-bullet {
    width: 1rem !important;
    height: 1rem !important;
}

.tags {
    margin-bottom: 5rem;

    a {
        font-size: 1.4rem;
        padding: 1.5px 8px !important;
        line-height: 1.2;
        width: auto;
    }

    p {
        color: $body-light-text;
        @include body_bold();
        font-size: 1.6rem;
    }
}


@media (max-width : 1280px) {
    .article_banner .main-detail-img img {
        max-height: 50.5rem;
    }
}

// news details page
.event_details {
    background-color: $light-grey;
    margin: 2.4rem 0 1.5rem;
    padding: 2.4rem 2.4rem 1.4rem;
    border-radius: 8px;
    gap: 2.4rem;

    .event-date {


        .event-month {
            font-size: 1.4rem;
            color: $text-light;
            @include body_bold();
        }

        .event-day {
            font-size: 2.4rem;
            @include header-medium();
            color: $primary;
        }
    }

    .event-description {
        h4 {
            @include header-medium();
            margin-bottom: 1.2rem;
        }

        .event-list {
            margin-bottom: 1.2rem;


            .icon {
                color: $primary;
                font-size: 1.7rem;
                line-height: 1.5;

                .fa-location-dot {
                    font-size: 2.1rem;
                    line-height: 1.5;
                }
            }
        }


        .event-about {
            font-size: 1.6rem;
            color: $body-light-text;
            @include body_medium();
            line-height: 1.5;
        }
    }

}


@media (max-width: 767px) {
    .article_banner {
        padding: 4rem 0;

        .h3 {
            font-size: 3.5rem;
            margin-bottom: 2.4rem;
        }

        .main-detail-img img {
            max-height: 19.3rem;
        }

        .details-sideimg img {
            height: 34.4rem;
        }

        p {
            margin-bottom: 2.4rem;
        }

        .Video-box figure img {
            max-height: 100%;
            height: 19.3rem;
        }

        .swiper-slide img {
            height: 19.3rem;
        }
    }

    .whats_new {
        padding-block: 4rem 2.4rem;

        h3 {
            margin-bottom: 1.6rem !important;
            font-size: 3.5rem;
        }
    }

    .article_posts {
        padding-block: 3.2rem 4rem;
    }

    .event_details .event-date {
        padding-inline: 0rem;
        padding-bottom: 1.6rem;
    }

    .event_details {
        margin: 0;
    }
}


// FAQ's css
.faq-banner {
    padding: 11.2rem 0 5.6rem;
    background: $bg-gr-primary;

    .h2 {
        max-width: 48rem;
    }
}

.faq-content {
    padding: 4rem 0;

    .soft-filter p {
        color: $body-light-text;
    }

    .faq-tab {
        position: sticky;
        top: 2rem;

        ul {
            &::after {
                position: absolute;
                top: 0;
                left: -1.6rem;
                width: 2px;
                height: 100%;
                content: "";
                background: #D6D6D6;

            }

            li {
                a {
                    padding: 1.4rem 0;
                    position: relative;
                    font-size: 2.2rem;
                    color: $neutral_grey;
                    @include header-medium();
                    line-height: 1.1;
                    display: block;
                    transition: color 0.3s ease, font-weight 0.3s ease;

                    &.active {
                        color: $secondary;
                        font-weight: 600;

                        &::after {
                            position: absolute;
                            top: 0;
                            left: -1.6rem;
                            width: 6px;
                            height: 100%;
                            content: "";
                            background: $primary;
                            z-index: 1;
                            transition: all 0.3s ease;
                        }
                    }

                }

            }
        }
    }

    .faq-list {
        padding-left: 5rem;

        h4 {
            font-size: 2.4rem;
            background: $tertiary;
            padding: 1.6rem 2.4rem;
            margin-bottom: 1rem;
            font-weight: 600;

        }

        .accordion-button {
            font-size: 2.2rem;
            padding: 2.0rem 3.0rem 2.0rem 0;
            font-weight: 500;
            position: relative;
            line-height: 1.1;

            &::after {
                content: '\f106';
                font-family: "Font Awesome 6 Pro";
                display: inline-block;
                color: #CE000B;
                top: 42%;
                right: 1rem;
                position: absolute;
                transform: translateY(-50%);
                pointer-events: none;
                background: none !important;

            }

            &:focus {
                outline: none;
                background: #fff;
                box-shadow: none;
            }
        }

        .accordion-button.collapsed {
            position: relative;

            &::after {
                content: '\f107';
                font-family: "Font Awesome 6 Pro";
                display: inline-block;
                color: #CE000B;
                top: 42%;
                right: 1rem;
                position: absolute;
                transform: translateY(-50%);
                pointer-events: none;
            }

        }

        .accordion-button:not(.collapsed) {
            color: $primary;
            background: none;
        }

        .accordion-flush>.accordion-item:last-child {
            border-bottom: 1px solid #D6D6D6;
            margin-bottom: 4rem;
        }

        .accordion-body {
            padding: 0;
        }
    }
}

@media (max-width : 1399px) {

    .faq-content .faq-tab ul li a,
    .faq-content .faq-list .accordion-button {
        font-size: 1.8rem;
    }

}

@media (max-width: 991px) {
    .faq-content .faq-list {
        padding-left: 1rem;
    }
}

@media (max-width : 767px) {
    .faq-content .faq-list {
        padding-left: 0rem;

    }

    .faq-tab {
        display: none;
    }

    .faq-content .faq-tab ul li a,
    .faq-content .faq-list .accordion-button {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.8rem;
    }

}


// contact_us page
.contact_us {
    overflow: hidden;

    .contact_us_left {
        max-width: 55.1rem;
        padding: 8rem 0;

        img {
            margin-bottom: 2.4rem;
        }

        .info_box {
            padding: 2.6rem 0 2.4rem;

            h6 {
                font-size: 1.8rem;
                color: $body_text;
                @include body_bold();
            }

            .table-in {
                margin-bottom: 1.6rem;

                .details {
                    font-size: 1.6rem;
                    color: $body-light-text;
                    line-height: 1.5;

                    a {
                        color: $body-light-text;
                        @include transition();

                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }

    }

    .contact_us_right {
        position: relative;
        width: 100%;
        height: 74.7rem;

        figure {
            position: absolute;
            top: 0;
            left: 0;
            width: max(50vw);
        }
    }

}

.error {
    border: 1px solid $primary;
}

.error-message {
    color: $primary;
    font-size: 1.3rem;
    margin-top: 8px;
    @include body_medium();
}

@media (max-width : 1280px) {
    .contact_us .contact_us_right {
        height: 56.7rem;
    }
}

@media (max-width : 996px) {
    .contact_us .contact_us_left {
        padding: 4rem 0;
    }
}

@media (max-width : 767px) {
    .contact_us .contact_us_right {
        height: 34.5rem;

        figure {
            left: -16vw;
            width: 116vw;
        }
    }

    .white_border_btn {
        width: 100%;
        justify-content: center;
    }
}




// Deshboard section 
.dashboard {
    .container-fluid {
        padding-left: calc(var(--bs-gutter-x) * 0);
    }

    .sidebar-wrapper {
        position: absolute;
        top: 0;
        z-index: 9;
        height: auto;
        line-height: inherit;
        width: 24.7rem;
        text-align: left;
        height: 100%;
        background: $secondary;

        .sidebar {
            background: $secondary;
            color: #fff;

            .user-name {
                padding: 4rem 1.6rem 0rem 1.6rem;


                p {
                    border-bottom: 1px solid #7e7e7e;
                    margin-bottom: 1.6rem;
                    padding-bottom: 1.6rem;
                    @include body_semi_bold();
                }
            }

            ul {
                li {
                    margin-bottom: 0rem;

                    a {
                        font-size: 1.6rem;
                        color: #fff;
                        padding: 1.6rem 1.6rem;
                        display: flex;
                        gap: 1rem;
                        @include body_semi_bold();
                        @include transition();

                        &.active {
                            background: #fff;
                            color: $secondary;
                        }

                        &:hover {
                            background: #fff;
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }

    .page-body {
        min-height: calc(100vh - 0px);
        margin-left: 24.7rem;
        padding: 0 2.4rem;
    }
}

// dashboard inner section
.home-dashboard {
    padding: 8rem 0 8.9rem;

    .welcome-back {
        margin-bottom: 2.4rem;


    }

    h3 {
        font-size: clamp(3.0rem, 2.5vw, 3.6rem);
        margin-bottom: 1.6rem;
    }

    h5 {
        font-size: 2.4rem;
        border-bottom: 1px solid #D6D6D6;
        padding-bottom: 1.6rem;
        @include header-semibold();

    }

    small {
        font-size: 1.4rem;
        color: $text-light;
        @include body_bold();
        margin-bottom: .8rem;
        display: block;
    }

    .credit-card {
        margin-bottom: 2.4rem;


        .store-card {
            padding: 2.4rem;
            background: $tertiary;
            border-radius: 8px;
            display: block;
            max-height: 20rem;
            height: 100%;

            p {
                max-width: 27rem;
                color: #4D4D4D;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
            }

            .card-in {
                margin-bottom: 3.2rem;
            }

            h6 {
                font-size: 1.8rem;
                @include body_bold();
                margin-bottom: .8rem;
                line-height: 1.5;
            }

            h4 {
                color: $primary;
                display: flex;
                gap: 8px;
                font-weight: 500;
                font-size: 3rem;
                margin-bottom: 0;
            }



            .gap-54 {
                gap: 5.4rem;
            }
        }
    }

    .order-list {

        a {
            display: grid;
            grid-template-columns: 22.3rem 1fr;
            margin-top: 2.4rem;
            background: $tertiary;
            border-radius: 8px;
            padding: 1.6rem;
            margin-bottom: 2.4rem;
            align-items: center;
            @include transition();

            &:hover {
                background-color: $neutral_pink;
            }

            &:hover h4 {
                background-color: $neutral_pink;
            }

            h4 {
                font-size: 2.2rem;
                @include header-semibold();
                background: $tertiary;
                z-index: 11;
                position: relative;
                display: inline-block;
                padding-right: 1.6rem;
                @include transition();
            }

            .order {
                position: relative;

                &:after {
                    position: absolute;
                    top: 10px;
                    background: #D6D6D6;
                    right: 1.6rem;
                    height: 1.2px;
                    width: 70%;
                    content: '';
                }
            }

            .order-teble {
                background: #fff;
                border-radius: 8px;
                padding: .8rem 1rem;

                .stutas {


                    small {
                        margin-bottom: .8rem;
                        display: block;
                    }

                    p {
                        font-size: 1.6rem;
                        font-weight: 700;
                        color: $body_text;
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    .saved-iteam {
        display: grid;
        gap: 2.4rem;
        grid-template-columns: repeat(5, 1fr);
        margin-top: 2.4rem;

        .save-card {
            padding: 1.6rem;
            background: #F5F5F5;
            text-align: center;
            border-radius: 8px;
            @include transition();
            color: $body-light-text;

            &:hover {
                background-color: $neutral_pink;
            }

            .img {
                max-height: 17rem;
                overflow: hidden;
                border-radius: 8px;
                object-fit: cover;
                width: 100%;
                height: 100%;
                background: #fff;

                img {
                    padding: 3%;
                    object-fit: contain;
                    height: 100%;
                    background: #fff;
                }
            }

            .text-card {
                padding: 1.6rem 0 0;
                max-width: 87%;
                margin: 0 auto;

                h6 {
                    font-size: 1.6rem;
                    @include body_bold();
                    line-height: 1.5;
                    margin-bottom: .3rem;


                }

                span {
                    font-size: 1.3rem;
                    color: $body-light-text;
                }
            }
        }
    }
}

.order-notfound {
    height: 36rem;
}

.summary {
    background-color: $light_pink;

    .order-summary {
        border: 1px solid #D6D6D6;
        border-radius: 8px;
        background: #fff;
        padding: 2.4rem 1.6rem;

        p {
            font-size: 1.6rem;
            margin-bottom: 1.6rem;
            font-weight: 700;
            color: $body_text;
            line-height: 1.5;
        }

        .top {
            border-bottom: 1px solid #D6D6D6;
            margin-bottom: 2.4rem;
        }

        .bottom {
            .border-b {
                border-bottom: 1px solid #D6D6D6;
                margin-bottom: 2.4rem;
            }

            small {
                margin-bottom: 1.2rem;
            }


            .about-delivery {
                padding: 1.6rem;
                background: $tertiary;
                border-radius: 8px;
                margin-bottom: 2.4rem;

                h6 {
                    font-size: 1.6rem;
                    margin-bottom: .8rem;
                    font-weight: 700;
                    color: $body_text;
                    line-height: 1.5;
                    @include body_bold();
                }

                .h6 {
                    font-size: 1.8rem;
                    margin-bottom: 2.4rem;
                    @include body_bold();
                }

                p {
                    font-size: 1.6rem;
                    margin-bottom: 1.2rem;
                    color: $body_text;
                    line-height: 1.2;
                    @include body_regular();
                }
            }
        }
    }
}

.modal-header,
.modal-body,
.modal-footer {
    border: none;
    padding: 2.4rem;
    flex-wrap: unset;
}

.remove {
    background: transparent;
    border: none;
    outline: none;
}

.modal-body.h-scroll {
    max-height: 40rem;
    overflow: scroll;
}